#formToggle {
  margin: var(--space-lg) auto;
  width: 60vw;
  display: block;
}

#formToggle.form--hidden {
  display: none;
}

#contact-form {
  display: block;
}

#radio-select {
  border-radius: 25px;
  border: 2px solid gray;
  margin: var(--space-md);
  padding: var(--space-sm);
}

.form-check {
  margin: var(--space-md);
}
